* {
    margin: 0;
    padding: 0;
}
.main-container{
   /* background-color: cornsilk; */
   overflow: hidden;

}
/* top */
.header-container{
    height: 80px;
    /* background-color: aqua; */
    border: black;
    overflow: hidden;
}
.toLeo-logo{
    padding: 15px;
    width: 50px;
    float: left;
}

.space-top{
    padding: 15px;
    width: 900px;
    height: 54px;
    float:left;
}
.menu-top{
    height: 54px;
    padding: 15px;
    margin-right: 0px;
    float:left;
}
.item-in-top-menu{
    padding-top: 15px;
    padding-left: 30px;
    float: left;
    list-style-type: none;
}
.item-in-top-menu img{
    border-radius: 50%;
}
.item-in-top-menu a{
    text-decoration: none;
}
.item-in-top-menu a p{
    color: gray;
    font-size: 25px;
    padding-top: 10px;
}
/* left menu */
.side-menu{
    /* background-color: cadetblue; */
    margin-top: 10px;
    padding: 40px 20px;
    width: 270px;
    float:left;
}

.side-menu ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    list-style-type: none;
}
.side-menu  li{
    cursor: pointer;
    margin-bottom: 40px;
}
.side-menu ul li .menu-group-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.side-menu ul li .menu-group-title img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    vertical-align: middle;
    border-style: none;
}

.side-menu ul li .menu-group-title p{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    color: grey;
}
/* presentation */
.presentation-container{
    background-color: #f2f4fa;
    margin-top: 10px;
    padding: 20px;
    float: left
}

.interface-address{
    background-color: honeydew;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 162px;
    float: left;
    overflow: hidden;
}
.interface-address#interface_1{
    background-color: #7070E3;
}
.interface-address#interface_2{
    background-color: #5A78F0;
}
.interface-address#interface_3{
    background-color: #25B0E8;
    
}
.block-content{
    width: 180px;
    margin: 15px;
    margin-top:30px;
    padding: 10px;
    color: white;
    float: right;
}
.block-content p {
    word-break: break-all;
    float: left;
    padding-right: 5px;
}
.block-image{
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-top:50px;
    float: left;
}
.block-image img{
    max-width: 100%;
    max-height: 100%;
}
.header-presentation{
    background-color: #f2f4fa;
    height: 190px;
}
.container-flex{
    background-color: white;
    width: 660px;
    height: 400px;
    margin: 10px;
    margin-top: 20px;
    float:left;

}

.news{
    background-color: white;
    width: 280px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    margin-top: 20px;
    float:left;
}


/* footer */
.footer{
    background-color: #0B2840;
    height: 50px;
}