* {
    margin: 0;
    padding: 0;
}
.main-container{
   background-color: cornsilk;
}
/* top */
.header-container{
    height: 80px;
    background-color: aqua;
    border: black;
    overflow: hidden;
}
.toLeo-logo{
    padding: 15px;
    width: 50px;
    float: left;
}

.space-top{
    padding: 15px;
    width: 950px;
    height: 54px;
    float:left;
}
.menu-top{
    height: 54px;
    padding: 15px;
    margin-right: 0px;
    float:left;
}
.item-in-top-menu{
    padding-top: 15px;
    padding-left: 30px;
    float: left;
    list-style-type: none;
}
.item-in-top-menu a{
    text-decoration: none;
}
.item-in-top-menu a p{
    color: gray;
    font-size: 30px;
    padding-top: 10px;
}
/* left menu */
.side-menu{
    background-color: cadetblue;
    margin-top: 10px;
    padding: 40px 20px;
    width: 270px;
    float:left;
}

.side-menu ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    list-style-type: none;
}
.side-menu  li{
    cursor: pointer;
    margin-bottom: 40px;
}
.side-menu ul li .menu-group-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.side-menu ul li .menu-group-title img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    vertical-align: middle;
    border-style: none;
}

.side-menu ul li .menu-group-title p{
    font-size: 16px;
    font-weight: 500;
    position: relative;
}
/* presentation */
.presentation-container{
    background-color: darkkhaki;
    margin-top: 10px;
}